.admin-navbar {
    background-color: #a34e4e;
    padding: 10px ;
  }
  
  .admin-navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; /* Add this */
  }
  
  .admin-navbar ul li {
    display: inline-block;
  }
  
  .admin-navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .admin-navbar ul li a:hover {
    color: #ddd;
  }
  