.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
  }
  
  .user-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .user-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4caf50;
    text-decoration: none;
  }
  