/* src/assets/Adminlogin.css */

.admin-page-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure the form takes the full height of the viewport */
  }
  
  .admin-login-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-header {
    text-align: center; /* Center the header text */
    color: #333;
  }
  
  .admin-login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .admin-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .admin-login-button {
    background-color: #759e6b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .admin-login-button:hover {
    background-color: #5cca4d;
  }
  
  .admin-signup-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #2b642d;
    text-decoration: none;
  }

  .admin-error-para {
    color: red;
    margin-bottom: 12px;
  }
  