.admin-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .admin-signup-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-header {
    text-align: center;
  }
  
  .admin-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .admin-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .admin-signup-button {
    width: 100%;
    padding: 10px;
    background-color: #759e6b;
    color: white;
    border: none;
    cursor: pointer;
  }
  .admin-signup-button:hover {
    background-color: #5cca4d;
  }

  .admin-login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #2b642d;
    text-decoration: none;
  }
  